/*--------------------------------*/
/*Sitewide*/
/*--------------------------------*/

/*********************************************************/
/* Styles for search, subset, and refresh input movie list page */

/* Genre pulldown heading on movie list page */
#genre_head { color: #6F1402;
                font-size: 16px;
                font-family: 'merriweather-sans', sans-serif;
}

/* Genre selection list on movie list page */
#genre { color: #C12C16;
                font-size: 16px;
                font-family: 'merriweather-sans', sans-serif;
}

/* Title input search box on movie list page */
#title_search { color: #C12C16;
                font-size: 16px;
                font-family: 'merriweather-sans', sans-serif;
}

/* Submit buttons on movie list page */
.submit_button { color: #6F1402;
                font-size: 16px;
                font-family: 'merriweather-sans', sans-serif;
}

/***************************************************/
/* Styles for text for columns in movie list table */
/* Movie title column on movie list page */
.movie_title { color: #6F1402;
                font-size: 16px;
                font-family: 'merriweather-sans', sans-serif;

}

/* Release year column on movie list page */
.release_year { color: #6F1402;
                font-size: 14px;
                font-family: 'merriweather-sans', sans-serif;

}

/* Map link column on movie list page */
.map_link { color: #EE5C21;
                font-size: 16px;
                font-family: 'merriweather-sans', serif;
}

tbody a:hover { color: #6F1402;

}

/* IMDB link column on movie list page */
.imdb_link { color: #EE5C21;
                font-size: 16px;
                font-family: 'merriweather-sans', serif;
}

/* Genres column for a movie on movie list page */
.genres_for_a_movie { color: #6F1402;
                font-size: 16px;
                font-style: italic;
                font-family: 'merriweather-sans', sans-serif;

}

/* Movie List page heading div */
#list_header { height: 250px;
                background-image: url("/static/images/scenefranciscoheader_crop.jpg");
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: #ccc;

}

/* Movie List page heading title paragraph */
#list_page_head {
    font-family: 'merriweather', sans-serif;
    font-size: 40px; 
    font-weight: bold;
    text-align: center;
    /*color: #FFF0C9;
    text-shadow: 3px 3px #6F1402;*/
    color: #6F1402;
    text-shadow: 3px 3px #FFF0C9;
   /* background-color: #FFF4DF;*/
    width: 400px;
    margin: 5% 35% 0% 20%;
}

/* Movie List page heading sub-title paragraph */
#list_page_subhead {
    font: 20px 'merriweather', serif;
    font-weight: bold;
    text-align: center;
    /*color: #FFF0C9;
    text-shadow: 3px 3px #6F1402;*/
    color: #6F1402;
    text-shadow: 1.5px 1.5px #FFF0C9;
    /*background-color: #FFF0C9;*/
    width: 400px;
    margin: 0.0% 35% 15% 20%;
}

/*****************************************/
/* Movie detail page heading styling     */

/* Movie detail page heading movie title */
#detail_page_title {
    font: 35px Georgia, serif;
    font-weight: bold;
    text-align: center;
    color: #C12C16;
    /*background-color: #FFF0C9;*/
    width: 100%;
    margin: auto;
}

/* Movie detail page heading release year */
#detail_page_release_year {
    font: 25px Georgia, serif;
    font-weight: normal;
    text-align: center;
    color: #C12C16;
    /*background-color: #FFF0C9;*/
    width: 100%;
    margin: auto;
}

#poster_img {
    margin: 0.25em;
    height: 225px;
}

/**********************************************/
/* Movie detail page text content styling     */

.movie_detail_label { color: #6F1402;
                font-size: 16px;
                font-weight: bold;
                font-family: 'merriweather-sans', sans-serif;
}

.movie_detail_content { color: #C12C16;
                font-size: 16px;
                font-family: 'merriweather-sans', sans-serif;
}

#content {
    font: 15px arial, sans-serif;
    font-weight: bold;
    color: black;
}

/*a {
    color: 6F1402;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

a:active {
    text-decoration: none;
    color: #fff;
}*/


/*--------------------------------*/
/*Maps*/
/*--------------------------------*/

#single-map {
    width: 100%;
    height: 760px;
}

.window-content {
    color: #04162b;
    width: 150px;
}