<!doctype html>
<html>
<head>
  <title>Scene Francisco: Movies filmed in San Francisco</title>
  
  <!-- <link href="/static/project.css" rel="stylesheet"> -->
  <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,700'
          rel='stylesheet'>
  <link href="/static/maps.css" rel="stylesheet">
</head>

<body>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <h2>Scene Francisco: Movies filmed in San Francisco</h2>
  <hr>
  <!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->

  {% block content %} put your content here {% endblock %}

</body>
</html>