<!doctype html>
<html>
<head>
  <title>Scene Francisco: Movies filmed in San Francisco</title>
  
  <link href="/static/project.css" rel="stylesheet">
  <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,700'
          rel='stylesheet'>
  <link href="/static/maps.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>

<body>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <span id="page_head">Scene Francisco</span>
  {% block subhead %} {% endblock %}
  <hr>

  {% block content %} put content here {% endblock %}
  {% block map %} {% endblock %}

</body>
</html>