{% extends 'base.html' %}

{% block content %}

<!-- <script src="/static/locations_map.js"></script> -->

<h3>{{ movie.movie_title }} ({{ movie.release_year }})</h3>
<p>
Production Company: {{ movie.production_company }}<br>
Writer(s): {{ movie.movie_writers }}<br>
Distributor: {{ movie.movie_distributor }}<br><br>
<a href="{{ movie.imdb_url }}" target="_blank">IMDB link</a>

<ul>
  {% for location in locations %}
    <li>Location: {{ location.latitude }} {{ location.longitude }} {{ location.location_description }} </li>
  {% endfor %}
</ul>

</p>

{% endblock %}


{% block map %}
    <div id="map-canvas", style="height:500px"></div>
<script>
function initialize() {

  var myLatlng = new google.maps.LatLng(37.776235, -122.446729)
  var contentString =
      '<div id="content">'+ "<p></p>"+'</div>';
    var mapOptions = {
      zoom: 12,
      center: myLatlng
    };

    var map = new google.maps.Map(
        document.getElementById('map-canvas'),
        mapOptions);
    var infowindow = new google.maps.InfoWindow({
           content: contentString
    }); 

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'A'
    });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
    });
   
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}
