{% extends 'base.html' %}


<!-- <script src="https://code.jquery.com/jquery.js"></script> -->

{% block content %}

<h3>{{ movie.movie_title }} ({{ movie.release_year }})</h3>
<p>
Production Company: {{ movie.production_company }}<br>
Writer(s): {{ movie.movie_writers }}<br>
Distributor: {{ movie.movie_distributor }}<br><br>
<a href="{{ movie.imdb_url }}" target="_blank">IMDB link</a>
</p>
 <div id="map-canvas", style="height:400px"></div>


<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {

	var myLatlng = new google.maps.LatLng(37.7892921, -122.3989821);
	var contentString =
      '<div id="content">'+ "<p>SF Chronicle Building (901 Mission St)</p>"+'</div>';
    var mapOptions = {
      zoom: 12,
      center: myLatlng
    };

    var map = new google.maps.Map(
        document.getElementById('map-canvas'),
        mapOptions);

    var infowindow = new google.maps.InfoWindow({
           content: contentString
    }); 

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'A'
  	});
	google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  	});
	 
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}
