{% extends 'base.html' %}
{% block subhead %} 

<div id="list_header">
  <br><br><br>
<p id="list_page_head">Scene Francisco</p>
<p id="list_page_subhead">Movies Filmed in San Francisco</p>
</div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="col-sm-4"> 
      <form id="genre_search" action="/">        
        <label for="genre">Subset by Genre:</label>
        <br>
          <select name="genre" id="genre">
            <option value="All">All</option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Animation">Animation</option>
            <option value="Biography">Biography</option>
            <option value="Comedy">Comedy</option>
            <option value="Crime">Crime</option>
            <option value="Documentary">Documentary</option>
            <option value="Drama">Drama</option>
            <option value="Family">Family</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Film-Noir">Film Noir</option>
            <option value="History">History</option>
            <option value="Horror">Horror</option>
            <option value="Music">Music</option>
            <option value="Musical">Musical</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Short">Short</option>
            <option value="Sport">Sport</option>
            <option value="Thriller">Thriller</option>
            <option value="War">War</option>
          </select>
      </form>

      <br>
      <form id="refresh_list" action="/">       
         
        <input type="submit" class="submit_button"value="Refresh movie list">
        <br><br><br>
      </form>

      <form id="title_search" action="/">  
        <input type="text" name="title_search" id="title_search" placeholder="Search for your favorite movie by title" size="50">
        <br><br>
        
        <input type="submit" class="submit_button"value="Search for title">

      </form>

      </div>

      <div class="col-sm-8">
        <table class="table table-condensed">
          <thead>
            <tbody>
            {% for movie in movies %}
            <tr>
              
              <td>
                <span class="movie_title"> {{ movie.movie_title }} 
                </span>
                <span class="release_year"> ({{ movie.release_year}})
                </span>
              </td>
              
              <td>
                {% if movie.locations %}
                  <a class="map_link" href="/{{ movie.movie_id }}">Map</a>
                {% endif %}
              </td>   
              
              <td>
                {% if movie.imdb_url %}  
                  <a class="imdb_link" href="{{ movie.imdb_url }}" target="_blank">IMDB</a>
                {% endif %}
              </td>
              
              <td>
                {% if movie.genre %}
                  <span class="genres_for_a_movie">
                    {{ movie.genre }}
                  </span>
                {% endif %}
              </td>

            </tr>
            {% endfor %}
            </tbody> 
          </thead>
        </table>
      </div>
  </div>

<script>
var selectedGenre = "{{ genre }}";
if (selectedGenre !== "None") {
  var optionToSelect = $("option[value=" + selectedGenre +"]");
  optionToSelect.prop("selected", true);
}

$("#genre").on("change", function (evt) {
  $("#genre_search").submit();
});

</script>
{% endblock %}